<link rel="stylesheet" href="/misp/css/misp.css">
<script src="/misp/js/misp.js"></script>

<div x-data="alpineMisp()" x-init="initPage()">
    <div>
        <h2 x-text="name"></h2>
        <p x-text="description"></p>
    </div>
    <hr>
    <div>
        <label for="event_id">Insert Misp Event's:</label><br>
        <input id="event_id" name="event_id" type="number" placeholder="Misp Event ID" /><br>
        <label for="misp_base_url">Insert Misp Base Url:</label><br>
        <input id="misp_base_url" name="misp_base_url" type="text" placeholder="Misp Base Url" /><br>
        <label for="misp_api_key">Insert Misp Api Key:</label><br>
        <input id="misp_api_key" name="misp_api_key" type="password" placeholder="Misp Api Key" /><br>
        <label for="platform">Choose the platform on which to attack:</label>
        <select id="platform" name="platform">
            <option value="">-- Select Platform --</option>
            <option value="windows">Windows</option>
            <option value="darwin">Darwin</option>
            <option value="linux">Linux</option>
            <option value="unknown">Others</option>
        </select><br>
        <button class="button is-primary is-small" @click="startFunction()">Start</button>

        <!--<button class="button is-primary is-small" @click="sampleFunction()">Click Me</button>
        <p x-text="sampleVariable"></p>-->
    </div>
</div>

<script>
/*
  Templates in CALDERA are now enhanced with Alpine.js! It's essentially
  a replacement for jQuery that has similar features to Vue and React.
  Read up on the docs before you get started working on the UI: https://alpinejs.dev/
*/

function alpineMisp() {
    return {
        name: '{{ name }}',
        description: '{{ description }}',
        event_id: 0,
        misp_base_url: '',
        misp_api_key: '',
        platform: '',
        sampleVariable: '',

        initPage() {
            // Sample API request
            apiV2('GET', '/api/v2/health').then((response) => {
                console.log('Woohoo, this page can talk to the API!');
            }).catch((error) => {
                // Call toast from anywhere within CALDERA to notify users of events
                // toast(message, isSuccess)
                toast('Error loading page', false);
                console.error(error);
            });
        },

        sampleFunction() {
            this.sampleVariable = 'You clicked the button!';
        },

        startFunction() {
            this.event_id = document.getElementById('event_id').value;
            this.misp_base_url = document.getElementById('misp_base_url').value;
            this.misp_api_key = document.getElementById('misp_api_key').value;
            this.platform = document.getElementById('platform').value;

            let requestBody = {
                event: this.event_id,
                base_url: this.misp_base_url,
                api_key: this.misp_api_key,
                platform: this.platform
            };

            console.log(requestBody)

            apiV2('POST', '/plugin/misp/start', requestBody).then((response) => {
                console.log(response);
            }).catch((error) => {
                toast('Error loading page', false);
                console.error(error);
            })
        }
    };
}

// # sourceURL=misp.js
</script>
